* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title {
    color: green;
    font-size: 50px;
    text-align: center;
}

.produDispo {
    color: orangered;
    font-size: 35px;
    text-align: center;
    margin-top: 2rem;
}

.todo {
    display: inline-block;
    margin-left: 6rem;
    margin-top: 2rem;
    background-color: salmon;
}

.tipos {
    color: blue;
    font-size: 30px;
    margin-bottom: 1rem;
}

.pepe {
    text-align: center;
}

.card {
    border: 2px, solid, red;
    width: 200px;
}

.card h2{
    color: blue;
}

.container-productos {
    border: 2px, solid, blue;
    width: 100%;
    min-height: 700px;
    display: flex;
    align-items: center;
}