* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    color: green;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.produDispo {
    color: orangered;
    font-size: 35px;
    text-align: center;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.imagen {
    width: 200px;
    height: 200px;
}

.producto {
    display: inline-block;
    margin-left: 3rem;
    margin-top: 2rem;
}

.carro {
    width: 40px;
    height: 40px;
    display: flex;
}

.yoyo {
    margin-left: 90rem;
    list-style: none;
}

.container-input {
    display: flex;
    justify-content: center;
    margin-left: 14rem;
}

.volver {
    width: 40px;
    height: 40px;
    margin-right: 3rem;
    margin-top: 1rem;
}

.navv {
    display: flex;
    justify-content: space-between;
}

.titulo {
    font-size: 2rem;
}

/* tarjetas */

.todo {
    display: flex;
    justify-content: center;
}

.eliminar {
    display: flex;
    margin-left: 4.5rem;
}